In [1]:
import pandas as pd

ventes = pd.read_csv("ventes_2024.csv")  # Chargement du CSV

In [2]:
ventes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Produit    96 non-null     object
 1   Categorie  96 non-null     object
 2   Mois       96 non-null     int64
 3   Ventes     96 non-null     int64
 4   CA         96 non-null     int64
dtypes: int64(3), object(2)
memory usage: 3.9+ KB

In [3]:
# Afficher les 5 premières lignes
ventes.head(5)

           Produit   Categorie  Mois  Ventes      CA
0  SmartX ProPhone  Smartphone     1     150  120000
1  SmartX ProPhone  Smartphone     2     180  144000
2  SmartX ProPhone  Smartphone     3     200  160000
3  SmartX ProPhone  Smartphone     4     220  176000
4  SmartX ProPhone  Smartphone     5     210  168000

In [4]:
# Nombre de lignes
ventes.shape[0]

96

In [5]:
# Nombre de colonnes
ventes.shape[1]

5

In [6]:
# Total des ventes
ventes["Ventes"].sum()

np.int64(15728)

In [7]:
# Chiffre d'affaire total
ventes["CA"].sum()

np.int64(7987000)

In [22]:
# Nombre de produits distincts
ventes["Produit"].nunique()

8

In [21]:
# Nombre de catégories distinctes
ventes["Categorie"].nunique()

5

In [14]:
# Produit avec le chiffre d'affaires annuel le plus élevé
ventes.groupby("Produit")["CA"].sum().idxmax()

'SmartX ProPhone'

In [15]:
# Catégorie avec le chiffre d’affaires annuel le plus faible
ventes.groupby("Categorie")["CA"].sum().idxmin()

'Console'

In [24]:
# Chiffre d’affaires moyen pour chaque produit.
ventes.groupby("Produit")["CA"].mean().round(2)

Produit
Camera Pro         127500.00
EarBuds Plus        36000.00
GameBox X           26833.33
LapTop Max          66500.00
SmartX Mini         88500.00
SmartX ProPhone    188000.00
TabMaster 10        95333.33
TabMini 8           36916.67
Name: CA, dtype: float64

In [18]:
# Trier les produits par chiffre d’affaires total décroissant
ventes.groupby(["Produit"])["CA"].sum().sort_values(ascending=False)

Produit
SmartX ProPhone    2256000
Camera Pro         1530000
TabMaster 10       1144000
SmartX Mini        1062000
LapTop Max          798000
TabMini 8           443000
EarBuds Plus        432000
GameBox X           322000
Name: CA, dtype: int64

In [20]:
# Créer une nouvelle colonne Prix_moyen = CA / Ventes.
ventes["Prix_moyen"] = ventes["CA"] / ventes["Ventes"]