In [18]:
import pandas as pd

df = pd.read_csv("ventes_produits.csv")

In [19]:
# Informations générales
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             50 non-null     int64
 1   produit        50 non-null     object
 2   categorie      50 non-null     object
 3   prix_unitaire  50 non-null     float64
 4   quantite       50 non-null     int64
 5   date_vente     50 non-null     object
dtypes: float64(1), int64(2), object(3)
memory usage: 2.5+ KB

In [20]:
# Afficher les 3 premières lignes
df.head(3)

   id      produit     categorie  prix_unitaire  quantite  date_vente
0   1   Stylo bleu     Papeterie            1.2        10  2025-01-05
1   2  Classeur A4     Papeterie            3.5         5  2025-01-06
2   3   Souris USB  Informatique           15.0         2  2025-01-07

In [21]:
# Afficher les 2 dernières lignes
df.tail(2)

    id            produit     categorie  prix_unitaire  quantite  date_vente
48  49  Bloc-notes coloré     Papeterie            2.5         6  2025-04-26
49  50   Imprimante laser  Informatique          200.0         1  2025-04-28

In [22]:
# Nombre de lignes
df.shape[0]

50

In [23]:
# Nombre de colonnes
df.shape[1]

6

In [24]:
# Liste des colonnes
list(df.columns)

['id', 'produit', 'categorie', 'prix_unitaire', 'quantite', 'date_vente']

In [25]:
# Type de chaque colonne
df.dtypes

id                 int64
produit           object
categorie         object
prix_unitaire    float64
quantite           int64
date_vente        object
dtype: object

In [26]:
# Statistique descriptive
df.describe()

             id  prix_unitaire   quantite
count  50.00000      50.000000  50.000000
mean   25.50000      26.178000   5.980000
std    14.57738      41.200908   9.085737
min     1.00000       0.500000   1.000000
25%    13.25000       2.500000   1.000000
50%    25.50000       8.500000   3.000000
75%    37.75000      28.750000   6.750000
max    50.00000     200.000000  50.000000

In [27]:
# Nombre de valeurs manquantes par colonnes
df.isna().sum()

id               0
produit          0
categorie        0
prix_unitaire    0
quantite         0
date_vente       0
dtype: int64